/* Estilo para el cuerpo de la página */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;

}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F2F4FC;
}

/* Estilo para el header */

header{
    padding: 1rem 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #072AC8;
}

.nav-home{
    font-weight: bold;
    color: #072AC8;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links a{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links a:hover{
    text-decoration: underline;
    color: #072AC8;
}

.nav-projects, .nav-services{
    font-weight: bold;
    color: #6B708D;
}


.nav-contact-us {
    text-decoration: none;
    background-color: #072AC8;
    padding: 0.75rem;
    color: #ffff;
}

.nav-contact-us:hover {
    color: #FFC600;
}


.nav-links li{
    margin-left: 2rem;
}

/* Estilo para primera seccion (hero) */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    position: relative;
}

.hero-text {
    max-width: 38%;
}

.hero h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #292E47;
}

.hero p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #6B708D;
}

.hero-buttons {
    margin-bottom: 3rem;
}

.hero-buttons .btn {
    padding: 0.75rem 1.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
}

.hero-buttons .btn.primary {
    background-color: #072AC8;
    color: #ffff;
}

.hero-buttons .btn.primary:hover {
    color: #FFC600;
}

.hero-buttons .btn.secondary {
    color: #6B708D;
}

.hero-buttons .btn.secondary:hover {
    text-decoration: underline;
    color: #072AC8;
}

.hero-images {
    position: relative;
    max-width: 40%;
}

.hero-image {
    width: 100%;
    height: auto;
}

.tarjeta {
    position: absolute;
    width: 300px;
}

.tarjeta-1 {
    right: 50%;
}

.tarjeta-2 {
    top: 70%;
    left: 55%;
}

/* Estilo para la segunda seccion (brands) */

.brand {
    padding: 2rem 3rem;
    text-align: center;
}

.brands {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.brands img {
    max-width: 100px; 
    filter: grayscale(100%); 
    transition: transform 0.3s ease;
}

.brands img:hover {
    transform: scale(1.3); 
    filter: grayscale(0%);
}

.project-cards{
    display: flex;
    width: 100%;
}

.recent-projects h2{
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
}

/* Estilos básicos para la tarjeta */
.card {
    width: 300px; 
    margin: 20px; 
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px; 
}

.card-title {
    font-size: 1.25rem; 
    margin-bottom: 0.75rem; 
}

.btn {
    display: inline-block; 
    text-decoration: none; 
    color: #072AC8; 
    font-weight: bold;
    padding-top: 2rem
}

.btn:hover {
    text-decoration: underline; 
}

.card {
    width: 300px;
    overflow: hidden;
    border: none;
    box-shadow: none;
}

.card:hover{
    box-shadow: 4px 0px 8px #072AC8;
}

.card img {
    width: 100%;
    height: 200px;
}

.card-body {
    padding: 20px;
    background-color: #ffff;
}

.card-body h3 {
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}

.card-body p {
    font-size: 1em;
    color: #6B708D;
}

.testimonial-section {
    background-color: #292E47;
    background-image: url('/Circle-Agency/project-assets/testimonial-section/orbit.png');
    background-size: cover;
    background-position: center;
    height: 25vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10rem;
}

.testimonial-text h2{
    display: flex;
    justify-content: center;
    color: #F4F6FC;
}

.testimonial-text h4{
    color: #FFC600;
    width: 60%;
    display: flex;
    align-content: center;
}

.corner-image.profile-image {
    position: absolute;
    bottom: 1%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-p{
    color: #A2D6F9;
}
.url-p{
    color: #FFC600;
}
.corner-image.profile-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px; /* Espacio entre la imagen y los párrafos */
}

.corner-image.profile-image p {
    margin: 0; 
    text-align: left;
}

.corner-image {
    position: absolute;
    width: 100px; 
    height: 100px;
}

.corner-image.top-left{
    top:1%;
    left: 1%;
}

.corner-image.top-right{
    top: 1%;
    right: 1%;
}

.corner-image.bottom-left{
    bottom: 1%;
    left: 1%;
}

.corner-image.bottom-right{
    bottom: 1%;
    right: 1%;
}

.corner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

.services-section h2{
    font-size: 2rem;
    padding-right: 55rem;
    padding-bottom: 5rem;
}

.services-section {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}


.services-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.services-card {
    background-color: #ffffff;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    padding-top: 60px; 
}

.services-card img.card-img {
    padding: 10px;
    width: 55px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: #F2F4FC;
    top: 20px;
    left: 20px;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    font-size: 1.5em;
    color: #292E47;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1em;
    color: #6B708D;
    margin-bottom: 20px;
}


.questions-section {
    padding: 20px;
    background-color: #FFC600;
    width: 1200px;
    text-align: center;
}
.questions-section h2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 30px;
}
.questions-section p {
    margin-bottom: 20px;
    font-size: 25px;
}
.email-submit {
    margin-top: 10px;
    margin-bottom: 5rem;
    max-width: 40%;
}
.email-submit form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email-input-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 8px;
    background-color: white;
}
.email-input-container img {
    width: 20px; 
    margin-right: 8px;
}
.submit-email{
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;
}

.btn-subscribe {
    padding: 20px 40px;
    background-color: #072AC8;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.footer-links {
    display: flex;
    align-items: flex-start; 
}

.footer-links ul {
    list-style-type: none; 
    margin: 0; 
    padding: 1rem; 
}

